
#ingredient-form-container{

    position:absolute; right:0%; top: 0%; 
    color: rgb(46, 48, 69);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    line-height: 20pt;
}



#category-container {   
    
    font-family: "Open Sans", sans-serif;
      display: flex;
    position:absolute; top:25%; right:20%;
    justify-content: space-evenly; width: 50%;

}



#category-container ul {  

    display: flex; 
    position:relative; top:25%; right:10%; 
    list-style: none;
    margin: 0; 
    padding: 0;
    z-index: -10px;
    justify-content: space-evenly;

}

#category-container li {

    justify-content: space-evenly;
    position:relative;
    display: flex;
    z-index: -10px;
    
  }


 #category-assests img  {   
    display: flex;
        position:relative;
        width: 100px; z-index: -10px;
        justify-content: space-evenly;
            }
        



#projects-container { 
    
    position:relative; right:-10%;  top: 200px; 
    color: rgb(46, 48, 69);
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-weight: lighter;
    line-height: 10pt;
    top: 600;
    
}


#ingredients-container {  
    position:absolute; right:-15%;  top: 20%; 
    color: rgb(46, 48, 69);
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-weight: lighter;
    line-height: 10pt;
    
}


